<!DOCTYPE html>
<html
  lang="en"
  data-th-replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${loggedInUser.name} +' | Dashboard'"></title>
  </head>

  <div id="content">
    <!-- sidebar when user is  logged in  -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/sidebar :: sidebar}"></div>
    </div>

    <div class="sm:pl-64" style="height: 1000px">
      <div class="grid grid-cols-12">
        <div class="col-span-12 flex justify-center items-center">
          <div class="w-full max-w-xl">
            <div
              class="card block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
              <div data-th-replace="~{message::messagebox}"></div>
              <h1 class="text-2xl font-semibold">Add New Contact</h1>
              <p class="text-gray-400">
                This Contact is stored on cloud, you can email directly using
                our service
              </p>

              <form
                action=""
                class="mt-8"
                data-th-action="@{'/user/contacts/add'}"
                data-th-object="${contactForm}"
                method="post"
                enctype="multipart/form-data"
              >
                <!-- name form -->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    >Contact Name</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid w-4 h-4 fa-user-tie"></i>
                    </div>
                    <input
                      data-th-field="*{name}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Name"
                    />
                  </div>
                  <p
                    th:if="${#fields.hasErrors('name')}"
                    th:errors="*{name}"
                    class="text-red-500 text-sm italic px-1"
                  ></p>
                </div>

                <!-- email form -->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    >Contact Email</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid w-4 h-4 fa-envelope"></i>
                    </div>
                    <input
                      data-th-field="*{email}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Contact@gmail.com"
                    />
                  </div>
                  <p
                    th:if="${#fields.hasErrors('email')}"
                    th:errors="*{email}"
                    class="text-red-500 text-sm italic px-1"
                  ></p>
                </div>

                <!-- Contact Number -->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    >Contact Phone Number</label
                  >
                  <div class="relative mb-1">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-phone"></i>
                    </div>
                    <input
                      data-th-field="*{phoneNumber}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="1234567890"
                    />
                  </div>
                  <p
                    th:if="${#fields.hasErrors('phoneNumber')}"
                    th:errors="*{phoneNumber}"
                    class="text-red-500 text-sm italic px-1"
                  ></p>
                </div>

                <!-- Address Form -->

                <div>
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    >Contact Address</label
                  >
                  <textarea
                    data-th-field="*{address}"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter Address..."
                  >
                  </textarea>
                  <p
                    th:if="${#fields.hasErrors('address')}"
                    th:errors="*{address}"
                    class="text-red-500 text-sm italic px-1"
                  ></p>
                </div>
                <!-- Description Form -->

                <div>
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    >Contact Description</label
                  >
                  <textarea
                    data-th-field="*{description}"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write about Contact"
                  >
                  </textarea>
                </div>

                <div class="flex mt-3 mb-3">
                  <div class="w-full">
                    <!-- Social Link 1 -->
                    <div class="mb-3">
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-brands h-4 w-4 fa-threads"></i>
                        </div>
                        <input
                          type="text"
                          data-th-field="*{websiteLink}"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Social Link"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="w-full">
                    <!-- Social Link 2 -->
                    <div class="mb-3">
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-regular h-4 w-4 fa-message"></i>
                        </div>
                        <input
                          type="text"
                          data-th-field="*{linkedInLink}"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="Social Link"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Picture upload -->
                <div class="mb-3">
                  <label
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white text-left"
                    for="small_size"
                    >Contact Image</label
                  >
                  <input
                    id="image_file_input"
                    class="block w-full mb-5 text-xs text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    type="file"
                    data-th-field="*{contactImage}"
                  />

                  <img
                    class="max-h-52 mx-auto rounded-lg shadow m-3"
                    src=""
                    id="upload_image_preview"
                    alt=""
                  />
                  <p
                    th:if="${#fields.hasErrors('contactImage')}"
                    th:errors="*{contactImage}"
                    class="text-red-500 text-sm italic px-1"
                  ></p>
                </div>

                <!-- fav contact checkbox -->
                <div class="flex items-center mb-3">
                  <input
                    data-th-field="*{favourite}"
                    type="checkbox"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                  />
                  <label
                    for="default-checkbox"
                    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Mark as Favourite</label
                  >
                </div>

                <div class="button-container">
                  <button
                    type="submit"
                    class="px-3 py-2 rounded dark:bg-blue-800 hover:dark:bg-blue-600 bg-black hover:bg-gray-700 text-white"
                  >
                    Add Contact
                  </button>

                  <button
                    type="reset"
                    class="px-3 py-2 rounded bg-red-700 hover:bg-red-500 dark:bg-blue-800 hover:dark:bg-blue-600 text-white"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script data-th-src="@{'/js/admin.js'}"></script>
  <script>
    console.log('Profile page')
  </script>
</html>
